#empty {
   width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 4vh 0 0;
   margin: 4vh 0 0 0;
   border: none;
   border-radius: 1vh;
   background-color: white;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
   height: 60vh;
   min-height: 60vh;
}

h2 {
   font-weight: 600;
   color: #ccc;
}

#icon-times {
   color: #ccc;
   font-size: 6vh;
   margin: 1vh 0;
}