#background-header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    min-height: 8vh;
    max-height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid#c9c9c9;
}

#title-header{
    font-size: 2.6vh;
    color: #9e9e9e;
}